.header-upper {
    background-color: var(--cyan-3);
}

.header-upper .header-logo {
    font-family: mystery-quest;
    font-size: 2em;
}

.header-nav-links {
    background-color: var(--cyan-1);
}

.header-nav-links .links-container {
    display: flex;
    gap: 15px;
}

.header-nav-links .links-container > *:hover {
    text-decoration: underline;
}
