.btn {
    width: auto;
    padding: 0.3em 1em;
    border-radius: 5px;
    border: 1px solid var(--gray-8);
    background-color: var(--gray-3);
    font-size: 0.8em;
}

.btn:hover {
    background-color: var(--gray-4);
}

input {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid var(--gray-6);
}

.input-small {
    width: 100px;
}

.input-big {
    width: 400px;
}
